@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Parker's Body Shop is a full service auto body shop in Clover, SC.  Services include:</p>
<ul>
    <li>Paint</li>
    <li>Crash Repair</li>
    <li>Detailing</li>
</ul>
