
@Scripts.Render("https://maps.googleapis.com/maps/api/js")
@Scripts.Render("~/Scripts/googleMaps.js")

@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Parker's Body Shop is located at:<br />
    814 S Main St<br />
    Clover, South Carolina 29710<br />    
    <abbr title="Phone">P:</abbr>
    803.222.9112
</address>

<div id="map-canvas">

<p><h4>Prefer to contact by email?  Please submit your request below and we will respond to you as soon as possible.</h4></p>

</div>