@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/img/carousel_1.1.JPG" alt="..." />
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Professional Service</h2>
        <p>
            We treat all of our customers with the same respect we would want shown to us.
        </p>       
    </div>
    <div class="col-md-4">
        <h2>Quality Work</h2>
        <p>Experienced technicians and state of the art equipment means your vehicle will be restored to it's original, pristine condition.</p>        
    </div>
    <div class="col-md-4">
        <h2>Great Value</h2>
        <p>Quality work does not have to cost an arm and a leg.</p>        
    </div>
</div>
