@{
    ViewBag.Title = "Showcase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/bundles/gallerycss")

<h3>Here are some of Scott's restorations, several of which went on to win car shows.</h3>

<!--
<img src="~/img/carousel_1.1.jpg" class="img-thumbnail" alt="Image could not be loaded" />
<img src="~/img/carousel_3.1.jpg" class="img-thumbnail" alt="Image could not be loaded" />
-->

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="links">
    <a href="~/img/carousel_1.1.jpg" title="number 1" data-gallery>        
    </a>

    <a href="~/img/carousel_3.1.jpg" title="number 2" data-gallery>
    </a>
</div>

@Scripts.Render("~/bundles/galleryjs")